# data (ignore large files)
data/raw/
data/processed
data/yolo/images
data/yolo/labels

# python
__pycache__/
*.pyc

# virtual env
venv/

# YOLO Training Output
runs/

# YOLO weights
*.pt

# zip files
*.zip
