# data (ignore large files)
data/processed/
data/yolo/images/
data/yolo/labels/
data/raw/*.zip
data/retinanet/

# model weights
*.pt
*.h5
*.keras
*.zip

# python
__pycache__/
*.pyc

# virtual env
venv/

# training output
runs/
reports/

# outputs
outputs/*.png
outputs/*.h5
outputs/gradcam/
!outputs/tensorboard/

# os
.DS_Store
Thumbs.db

# jupyter
.ipynb_checkpoints/